{% extends 'base.html' %}

{% block content %}
    <h2>All listing that we have</h2>
    <div class="apartment-search">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" id="search-box" placeholder="Enter a street name...">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit" id="search-text-Btn">Search</button>
                    </div>
                    <!--end of col-->
                    </div>
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <select id="search-box-postal" class="form-control form-control-lg form-control-borderless">
                            <option>Select a postal code...</option>
                            {% for apartment in apartments %}
                                <option value="{{ apartment.locationID.id }}">{{ apartment.locationID.postalCode }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit" id="search-Btn-postal">Search</button>
                    </div>
                    </div>
                    <br>
                    <div class="form-group search-ap col-lg-12 col-auto">
                        <button class="btn btn-lg-4 btn-success" id="sort-by-price-asc">Arrange by price ascending</button>
                        <button class="btn btn-lg-4 btn-success" id="sort-by-price-desc">Arrange by price descending</button>
                        <button class="btn btn-lg-4 btn-success" id="sort-name-desc">Arrange by name ascending</button>
                        <button class="btn btn-lg-4 btn-success" id="sort-name-asc">Arrange by name descending</button>
                    </div>
                </form>
            </div>
                        <!--end of col-->
        </div>
    </div>
    <div class="row" id="apartment-card-details">
        {% for apartment in apartments %}
            <div class="col-lg-4 house-listing">
                <div class="card card-width">
                    <img src="{{ apartment.apartmentimage_set.first.image }}" class="card-img-top card-img-size" alt="Apartment Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ apartment.locationID.streetName }} {{ apartment.locationID.houseNumber }}</h5>
                        <p class="card-text">{{ apartment.description|truncatechars:100 }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: {{ apartment.price }} Kr</li>
                        <li class="list-group-item">Size: {{ apartment.size }} m<sup>2</sup></li>
                        <li class="list-group-item">Year Build: {{ apartment.yearBuild }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{ apartment.id }}" class="card-link">More Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}