{% extends 'base.html' %}

{% block content %}
    <h2>All listing that we have</h2>
    <div class="input-group-btn">
        <div class="search-func">
            <input type="search" class="form-control" id="search-box" placeholder="Enter a street name..." />
            <button class="btn btn-primary" id="search-text-Btn">Search</button>
        </div>
        <div class="search-func">
            <input type="search" class="form-control" id="search-box-postal" placeholder="Enter a postal code..." />
            <button class="btn btn-primary" id="search-Btn-postal">Search</button>
        </div>
        <button class="btn btn-primary" id="sort-by-price-Btn">Arrange by price</button>
        <button class="btn btn-primary" id="sort-name-asc">Arrange by name ascending</button>
        <!--<a href="{% url 'apartment_all_listing_by_price' %}" class="btn btn-primary" id="arrange_by_price_btn">Arrange by price</a>
        <a href="{% url 'apartment_all_listing_by_name' %}" class="btn btn-primary" id="arrange_by_name_btn">Arrange by name</a>-->
    </div>
    <div class="row">
        {% for apartment in apartments %}
            <div class="col-lg-4" id="apartment-card-details">
                <div class="card">
                    <img src="{{ apartment.apartmentimage_set.first.image }}" class="card-img-top" alt="Apartment Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ apartment.locationID.streetName }} {{ apartment.locationID.houseNumber }}</h5>
                        <p class="card-text">{{ apartment.description|truncatechars:100 }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: {{ apartment.price }}</li>
                        <li class="list-group-item">Size: {{ apartment.size }}</li>
                        <li class="list-group-item">Year Build: {{ apartment.yearBuild }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{ apartment.id }}" class="card-link">More Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}