{% extends 'base.html' %}
{% block content %}
    <form class="form form-horizontal" action="{% url 'create_apartment' %}" method="post">
        <div class="row">
            <div class="col-lg-6">
                {% csrf_token %}
                <h3>apartment form</h3>
                {{ apartment_form.as_p }}
            </div>
            <div class="col-lg-6">
                <h3>location form</h3>
                {{ location_form.as_p }}
            </div>
            <br>
        </div>
        <input type="submit" value="Create" class="btn btn-primary" />
    </form>
    <br>
{% endblock %}