{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" id="carres_app">


            </ol>
            <div class="carousel-inner">


                <div id="get_three_elements_app">

                </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
    </div>
    <div class="apartment-search">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input aria-label="ASD" class="form-control form-control-lg form-control-borderless" id="main-search-text" type="search" placeholder="Search by street name...">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <a class="btn btn-lg btn-success" type="submit" id="main-search-btn">Search</a>
                        </div>
                        <!--end of col-->
                    </div>
             </form>
             </div>
                        <!--end of col-->
         </div>
    </div>

    <div class="bott-div row" id="Index-bottom-row-search-function">
        <div class="sell-house col-lg-6">
            {% if user.is_authenticated %}
                <a href="{% url 'create_apartment' %}">
            {% else %}
                <a href="{% url 'login' %}">
            {% endif %}
            <div class="sell-house">
                <button class="sell-house-btn">
                    Sell a house
                </button>
            </div>
            </a>
        </div>

        <div class="new-list col-lg-6">
            <div id="get_newest_apartment_app">

            </div>
        </div>
    </div>
{% endblock %}