{% extends 'base.html' %}

{% block content %}
    <div class="carousel">

    </div>
    <div class="row">
        <div class="col-lg-6"><h3>Hello from apartments</h3></div>
        <div class="col-lg-6"><h3>Hello from apartments</h3></div>
    </div>
    <div>
        <h3>and the second one</h3>
    </div>
    <div class="search">
        <p>search place</p>
    </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="apartment-size"><p>apartment size</p></div>
                <div class="apartment-prize"><p>apartment prize</p></div>
            </div>
            <div class="col-lg-6"><p>search</p></div>
        </div>
        <div class="row">
            <div class="col-lg-6"><p>sell apartment</p></div>
            <div class="col-lg-6 row">
                <div class="col-lg-12"><p>new listing</p></div>
                <div class="col-lg-12"><p>new listing</p></div>
                <div class="col-lg-12"><p>new listing</p></div>
                <div class="col-lg-12"><p>new listing</p></div>
                <div class="col-lg-12"><p>new listing</p></div>
            </div>
        </div>
{% endblock %}