{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img width='1200' height='600' src="https://cdn.aarp.net/content/dam/aarp/home-and-family/your-home/2018/06/1140-house-inheriting.imgcache.rev68c065601779c5d76b913cf9ec3a977e.jpg" class="d-block w-100\" alt="...\">
                        <div class="carousel-caption d-none d-md-block\">
                            <h5>First slide label</h5>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </div>
                <div id="get_three_elements_app">
                </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
    </div>


    <div class="apartment-search">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search...">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                    </div>
                    <div class="form-group search-ap">
                    <label for="selectUser" style="float:left;padding: 6px 12px 2px 12px;">Size:</label>
                    <select id="selectUser" style="width:auto;" class="form-control search-ap selectWidth">
                      <option class="">From</option>
                      <option class="">Two</option>
                      <option class="">Three</option>
                    </select>
                      <select id="selectUser" style="width:auto;" class="form-control search-ap selectWidth">
                      <option class="">To</option>
                      <option class="">Two</option>
                      <option class="">Three</option>
                    </select>
                  </div>

                  <div class="form-group search-ap">
                    <label for="selectUser" style="float:left;padding: 6px 12px 2px 12px;">Price:</label>
                    <select id="selectUser" style="width:auto;" class="form-control search-ap selectWidth">
                      <option class="">From</option>
                      <option class="">Two</option>
                      <option class="">Three</option>
                    </select>
                      <select id="selectUser" style="width:auto;" class="form-control search-ap selectWidth">
                      <option class="">To</option>
                      <option class="">Two</option>
                      <option class="">Three</option>
                    </select>
                  </div>
             </form>
             </div>
                        <!--end of col-->
         </div>
    </div>

    <div class="bott-div row">
        {% if user.is_authenticated %}
        <div class="sell-house col-lg-6">
            <a href="{% url 'create_apartment' %}">
                <button class="sell-house-btn">
                    Sell a house
                </button>
            </a>
        </div>
        {% else %}
            <div class="sell-house col-lg-6">
            <a href="{% url 'login' %}">
                <button class="sell-house-btn">
                    Sell a house
                </button>
            </a>
        </div>
        {% endif %}

        <div class="new-list col-lg-6">
            <h3 class="new-list-h3">New Listings</h3>
            <div >
                <img class="new-list-img" src="https://image.shutterstock.com/z/stock-photo-luxury-home-exterior-at-night-beautiful-new-house-with-green-grass-and-landscaping-at-twilight-has-1174898596.jpg" />
            </div>
        </div>
    </div>


{% endblock %}