{% extends 'base.html' %}
{% load  static %}

{% block content %}
    <script>var a = {{ apartments.id }}</script>
    <div class="single-ap jumbotron single-apartment-jumb">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ apartments.apartmentimage_set.first.image }}" class="single-ap-img" alt="Apartment Image">
            </div>
            <div class="col-lg-6">
                <h1 class="single-apartment-desc">{{ apartments.locationID.streetName }} {{ apartments.locationID.houseNumber }}</h1>
                <h3 class="single-apartment-desc">{{ apartments.locationID.city }} {{ apartments.locationID.postalCode }}</h3>
                <div class="single-ap-info col-lg-12 house-listing">
                    <p class="single-apartment-desc">Price: {{ apartments.price }} Kr</p>
                    <p class="single-apartment-desc">Size: {{ apartments.size }} m<sup>2</sup></p>
                    <p class="single-apartment-desc">Built: {{ apartments.yearBuild }}</p>
                    <p class="single-apartment-desc">Rooms: {{ apartments.rooms }}</p>
                    <p class="single-apartment-desc">Private Entrance: {% if apartments.privateEntrance %} Yes {% else %} No {% endif %}</p>
                    <p class="single-apartment-desc">Animals: {% if apartments.animalsAllowed %} Yes {% else %} No {% endif %}</p>
                    <p class="single-apartment-desc">Garage: {% if apartments.garage%} Yes {% else %} No {% endif %}</p>
                    <p class="single-apartment-desc">Seller: <a href="{% url 'user_profile' id=apartments.sellerID.id %}">{{ apartments.sellerID.first_name }} {{ sellerID.first_name }}</a></p>
                    <p class="single-apartment-desc">Description: {{ apartments.description }}</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            {% if apartments.forSale and apartments.sellerID != request.user %}
                <div class="sell-house house-listing">
                    <a class="btn btn-primary buy-house-btn" href="{% url 'credit_card' apartment_id=apartments.id %}"><p class="centering-apartment-detail-p">BUY</p></a><br>
                </div>
            {% endif %}
            {% if perms.Apartments.can_change_price %}
                <div class="sell-house house-listing">
                    <a class="btn btn-primary buy-house-btn" href="{% url 'change_price' apartments.id %}"><p class="centering-apartment-detail-p">Change Price</p></a>
                </div>
            {% endif %}
        </div>
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators" id="carres_single_apartment_app">


                </ol>
                <div class="carousel-inner">


                    <div id="get_single_apartment_app">

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jscontent %}
    <script src="{% static 'js/single_apartment.js' %}"></script>
{% endblock %}