#body-color {
    background-color: darkslategrey;
}

.navbar-light {
    background: linear-gradient(180deg, #087cdb, #31648e, #544e9f, #494394);
    background-size: 800% 800%;

    -webkit-animation: TitleAnimation 30s ease infinite;
    -moz-animation: TitleAnimation 30s ease infinite;
    animation: TitleAnimation 30s ease infinite;
}

@-webkit-keyframes TitleAnimation {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes TitleAnimation {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes TitleAnimation {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
.room-for-navbar {
    margin-top: 20px;
}
.apartment-search {
    margin: 10px;
    width: 100%;
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.search-ap {
    display: inline-block !important;
    float: left;
    margin: auto;

}
.sell-house-btn {
    background-color: gold;
    padding: 50px 100px 50px 100px;
    margin: auto;
}
.sell-house {
    margin: auto;

}
.new-list {
    margin: auto;
    float: right;
}
.new-list-img {
    width: 400px;
    height: 400px;
}
.bott-div {
    margin: auto;

}




