body {
    background: rgb(46,80,108);
    background: linear-gradient(90deg, rgba(46,80,108,1) 0%, rgba(60,138,193,1) 70%, rgba(0,133,228,1) 100%);
}

.navbar-light {
    background: linear-gradient(180deg, #087cdb, #31648e, #544e9f, #494394);
    background-size: 800% 800%;

    -webkit-animation: TitleAnimation 30s ease infinite;
    -moz-animation: TitleAnimation 30s ease infinite;
    animation: TitleAnimation 30s ease infinite;
}

@-webkit-keyframes TitleAnimation {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes TitleAnimation {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes TitleAnimation {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
