{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Bootstrap js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Personal js -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Castle Apartments</title>
    <!-- Personal css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body id="body-color" style="padding-bottom: 100px">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Castle Apartment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
              <a class="nav-item nav-link active" href="{% url 'apartment_all_listing' %}">All Listings <span class="sr-only">(current)</span></a>
        </div>
          {% if user.is_authenticated %}
            <div class = "ml-auto mr-1 navbar-nav test-right ml-auto mr-1">
                <a href="/user/profile/{{ user.id }}">
                    <img class="profile-image-navbar src=" src=" {{ user.profileimage.img }}" />
                </a>
                <a class="nav-item nav-link" href="/user/profile/{{ user.id }}">hello {{ user.first_name }}</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            </div>
          {% else %}
            <div class = "ml-auto mr-1 navbar-nav test-right ml-auto mr-1">
                <a class="nav-item nav-link " href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link " href="{% url 'register' %}">Register</a>
            </div>
          {% endif %}
       </div>
    </nav>
    <!--<img src="{{ user.profileimage.img }}">-->
    <div class="container room-for-navbar" style="padding-bottom: 20px">
        {% block content %}

        {% endblock %}
    </div>

</body>
<footer style="border-top: 1px black; border-top-style: solid; padding-top: 10px;">
    <p class="text-center">{% now "Y" %}, Castle Apartments<br> All right reserved</p>
</footer>
</html>